body{
    margin: 0;
}

.nav-link{
    font-weight: 500;
    font-size: 1.0rem;
    padding-right: 10%;
}

a.detail_link{
    text-decoration: none;
    color: white;
}

h6.footer-link-text:hover{
    text-decoration: none;
    color:white;
}

active a{
color: red !important;
}

/* Blog */
.card-blog .card-body {
  position: relative;
}

.card-blog .card-category-box {
  position: absolute;
  text-align: center;
  top: -16px;
  left: 15px;
  right: 15px;
  line-height: 25px;
  overflow: hidden;
}

.card-blog .card-category {
  display: inline-block;
  color: #fff;
  padding: 0 15px 5px;
  overflow: hidden;
  background-color: #1a1a1b;
  border-radius: 4px;
}

.card-blog .card-category .category {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.1px;
  margin-bottom: 0;
}

.card-blog .card-title {
  font-size: 1.3rem;
  margin-top: 0.6rem;
}

.card-blog .card-description {
  color: #4e4e4e;
  font-size: 1.0rem;
}

.card-blog .post-author {
  display: inline-block;
}

.card-blog .post-date {
  color: #4e4e4e;
  display: inline-block;
  float: right;
}

.card-description{
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}
