body{
    margin: 0;
}

.nav-link{
    font-weight: 500;
    font-size: 1.0rem;
    padding-right: 10%;
}

a.detail_link{
    text-decoration: none;
    color: white;
}

h6.footer-link-text:hover{
    text-decoration: none;
    color:white;
}
